<div class="header header-container sticky">
    <h2>Welcome Eureka Solutions </h2>
</div>
<div id="container"></div>
<ul>
    <span class="india">
        <li>India</li>
    </span>
    <span class="nepal">
        <li>Nepal</li>
    </span>
    <span class="bang">
        <li>Bangladesh</li>
    </span>
    <span class="pakistan">
        <li>Pakistan</li>
    </span>
    <span class="bhutan">
        <li>Bhutan</li>
    </span>
    <span class="sri">
        <li>Sri Lanka</li>
    </span>
    <span class="maldives">
        <li>Maldives</li>
    </span>

</ul>
<div class="footer"></div>